<% layout("/layouts/boilerplate.ejs")  %>
<body>
    <div class="row mt-3">
         <div class="col-8 offset-2">
          
           <h3><b>Edit Listing</b></h3>
           <form  method="POST"action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" value="<%= listing.title %>" type="text" class="form-control" required>
             <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" required><%= listing.description %></textarea>
             <div class="invalid-feedback">Please enter a short description </div>
        </div>

       <div class="mb-3">
          <label for="image" class="form-label">Current Image</label><br>
          <img src="<%= originalImageUrl %>" alt="Listing Image" class="img-thumbnail">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">upload New Image</label>
            <input name="image" type="file" class="form-control"></input>
        </div>
        
    <div class="row mb-3">
        <div class="col-md-4">
             <label for="price" class="form-label">Price</label>
             <input name="price" value="<%= listing.price %>" type="number" class="form-control" required> 
             <div class="invalid-feedback">Please enter a valid price</div>
        </div>
        <div class="col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="country" value="<%= listing.country %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid</div>
        </div>
  </div>
     
        <div class="mb-3">
             <label for="location" class="form-label">Location</label>
             <input name="location" value="<%= listing.location %>" type="text" class="form-control" required>
              <div class="invalid-feedback">Location name should be valid</div>
        </div>
        
         <div class="mb-3">
               <label for="category" class="form-label">Category</label>
               <select name="category" class="form-control" required>
                  <option value="">Select a Category</option>
                  <option value="Trending" <%= listing.category === "Trending" ? "selected" : "" %>>Trending</option>
                  <option value="Rooms" <%= listing.category === "Rooms" ? "selected" : "" %>>Rooms</option>
                  <option value="Iconic cities" <%= listing.category === "Iconic cities" ? "selected" : "" %>>Iconic cities</option>
                  <option value="Mountains" <%= listing.category === "Mountains" ? "selected" : "" %>>Mountains</option>
                  <option value="Castles" <%= listing.category === "Castles" ? "selected" : "" %>>Castles</option>
                  <option value="Amazing pools" <%= listing.category === "Amazing pools" ? "selected" : "" %>>Amazing pools</option>
                  <option value="Farms" <%= listing.category === "Farms" ? "selected" : "" %>>Farms</option>
                  <option value="Camping" <%= listing.category === "Camping" ? "selected" : "" %>>Camping</option>
                  <option value="Domes" <%= listing.category === "Domes" ? "selected" : "" %>>Domes</option>
                  <option value="Boat" <%= listing.category === "Boat" ? "selected" : "" %>>Boat</option>
         </select>

               <div class="invalid-feedback">Please select a category</div>
            </div>
            
        <button class="btn btn-dark add-btn mb-3">Edit</button>
    </form>
    </div>
    </div>
   
</body>
